@model FunMath.ViewModels.LevelsViewModel
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    ViewData["Title"] = "AddTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="welcome">
<div class="text-center">
    <h2 class="h1 home-title text-dark bg-info p-2">Aufgabe Erstellen</h2>
</div>
<div class="p-4">
    <form method="post" asp-controller="ManageData" asp-action="SaveTask">
        Level Nummer: <select asp-items="Model.Levels" name="levelNumber" class="form-control"></select> <br>
        Aufgabenstellung: <textarea type="text" name="challengeText" class="form-control" rows="5"></textarea><br><br>
        Lösung: <input type="text" name="solution" class="form-control" autocomplete="off"/>
        <input class="btn btn-primary mt-3" type="submit" value="Hinzufügen">
    </form>
</div>
</div>

