@model List<FunMath.Models.Level>
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    ViewData["Title"] = "ShowTasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="welcome">
    <div class="text-center">
        <h2 class="card-header bg-info">Admin Bereich</h2>
    </div>
    <div class="container vh-100 mt-4">
        <div class="">

            <table >
                <thead>
                    <tr>
                        <th scope="col" style="width:13em">Level Nummer</th>
                        <th scope="col">Löschen</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var level in Model)
                    {
                        <tr>
                            <td>
                                <a class="btn btn-block btn-info" asp-controller="ManageData" asp-action="ShowLevelChallenges" asp-route-id="@level.Id">Level @level.LevelNumber</a>
                            </td>
                            <td>
                                <a class="btn btn-block btn-danger" asp-area="Admin" asp-controller="ManageData" asp-action="DeleteLevelWithChallenges" asp-route-id="@level.Id">Löschen</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="mt-4 mb-4 d-block"><a class="btn btn-primary" asp-area="" asp-controller="InGame" asp-action="GenerateNewLevel">Neues Level</a></div>
        </div>
    </div>

</div>



