@model List<Level>
@{
    ViewData["Title"] = "ShowTasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h2 class="mb-2">Levels</h2>
    <table>
        <thead>
            <tr>
                <th scope="col" style="width:13em">Level Number</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var level in Model)
            {
                <tr>
                    <td >
                        <a class="btn btn-block btn-info" asp-controller="ManageData" asp-action="ShowLevelChallenges" asp-route-id="@level.Id">Level @level.LevelNumber</a>
                    </td>
                    <td>
                        <a class="btn btn-block btn-danger" asp-controller="ManageData" asp-action="DeleteLevelWithChallenges" asp-route-id="@level.Id">Löschen</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



