@model FunMath.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div >
    <img class="responsive" src="~/lib/Images/startseite.png" alt="" width="100%">
</div>
<div class="text-center bg-light container vh-100">
    <div class="col-sm-3">
        <form class="form-signin align-middle" asp-controller="Account" asp-action="Login" id="loginForm">
            <h1 class="h3 mb-3 font-weight-normal">Login...</h1>
            <label for="benutzername" class="sr-only">Email address</label>
            <input type="text" asp-for="Username" id="username" class="form-control mb-2" placeholder="Benutzername" required="" autofocus="" />
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" asp-for="Password" id="password" class="form-control mb-2" placeholder="Passwort" required="" autofocus="" />
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Anmeldung speichern
                </label>
            </div>
            <button class="btn btn-lg btn-outline-dark btn-block mb-2 bg-warning" type="submit">Anmelden</button>
            <p class="mt-5 mb-3 text-muted">© 2020-2021</p>
        </form>
        <button class="btn btn-lg btn-success btn-block" id="registerBtn">Sich Registrieren</button>
    </div>

    <form class="form-signin align-middle d-none" asp-controller="Account" asp-action="Register" id="registerForm">
        <h1 class="h3 mb-3 font-weight-normal">Registrieren...</h1>
        <label for="benutzername" class="sr-only">Email address</label>
        <input type="text" asp-for="Username" id="username" class="form-control mb-2" placeholder="Benutzername" required="" autofocus="" />
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" asp-for="Password" id="password" class="form-control mb-2" placeholder="Passwort" required="" autofocus="" />
        <label for="inputAge" class="sr-only">Password</label>
        <input type="number" asp-for="Age" id="inputAge" class="form-control mb-2" required="" autofocus="" min="3" max="102" placeholder="Wie alt bist du?" />
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Anmeldung speichern
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        <p class="mt-5 mb-3 text-muted">© 2020-2021</p>
    </form>
</div>

@section Scripts{
    <script>
        let registerBtn = document.getElementById("registerBtn");
        let loginForm = document.getElementById("loginForm");
        let registerForm = document.getElementById("registerForm");

        registerBtn.addEventListener("click", () => {
            loginForm.classList.add("d-none");
            registerForm.classList.remove("d-none");
            registerBtn.classList.add("d-none");
        })
    </script>
}


