@model List<Level>
@{
    ViewData["Title"] = "Startseite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <img class="firstPageImage" src="https://cdn.pixabay.com/photo/2017/12/22/08/01/paper-3033204_1280.jpg" alt="">
</div>
<div class="text-white welcome p-5 text-center">
    <div class="">
        <h5 class="card-title"></h5>
        <div class="text-white text-center p-3">
            @foreach (var level in Model)
            {
                <div class="mb-2 btn-group">
                    <a class="btn btn-dark" asp-controller="InGame" asp-action="LoadLevel" asp-route-levelNumber="@level.LevelNumber">Level: <b>@level.LevelNumber </b></a>
                </div>
            }
            <a class="btn btn-danger" asp-controller="InGame" asp-action="CreateLevelWithChallenges">Generate Level with Challenges</a>
        </div>
    </div>
</div>

