@model List<Level>
@{
    ViewData["Title"] = "Startseite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Startseite</h1>
<div class="card text-white welcome p-5">
    <img class="card-img" src="https://cdn.pixabay.com/photo/2016/01/23/16/34/raccoon-1157728_1280.png" alt="Owl">
    <div class=" p-5">
        <h5 class="card-title"></h5>
        <div class="text-white">
            @foreach (var level in Model)
            {
                <a class="btn btn-block btn-dark mb-2 " asp-controller="InGame" asp-action="LoadLevel" asp-route-levelId="@level.LevelNumber" asp-route-challengeNummer="1">Level: <b>@level.LevelNumber</b></a>
            }
        </div>
    </div>
</div>
<div class="mt-4 welcome p-5">
    <div class="text-white">
        <a class="btn btn-block btn-dark mb-2 ">Addition</a>
        <a class="btn btn-block btn-dark mb-2">Substraktion</a>
        <a class="btn btn-block btn-dark mb-2">Multiplikation</a>
        <a class="btn btn-block btn-dark mb-2">Division</a>
    </div>
</div>
