@model List<Level>
@{
    ViewData["Title"] = "Startseite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <img class="responsive" src="~/lib/Images/startseite.png" alt="" width="100%">
</div>
<div class="card-body py-4 bg-info text-white">
    
    Ein ungeübtes Gehirn ist schädlicher für die Gesundheit als ein ungeübter Körper.
    <br />
    <br />
    <b>George Bernard Shaw</b>
</div>
<div class="container vh-100 welcome">
    <div class="text-white  p-5 text-center">
        <div class="text-white text-center p-3">
            @foreach (var level in Model)
            {
                <div class="mb-2 btn-group">
                    <a class="btn btn-dark btn-block btn-lg" asp-controller="InGame" asp-action="LoadLevel" asp-route-levelNumber="@level.LevelNumber">Level: <b>@level.LevelNumber </b></a>
                </div>
            }
            @if (Model.Count == 0)
            {
                <div>
                    <a class="btn btn-outline-primary" asp-controller="InGame" asp-action="CreateFirstLevel">Start Challenge !</a>
                </div>
            }
        </div>


    </div>
</div>

