@model List<Level>
@{
    ViewData["Title"] = "Startseite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="gameBackground">
    <div class="text-white welcome p-5 text-center">
        <div class="">
            <h5 class="card-title"></h5>
            <div class="text-white text-center p-3">
                @foreach (var level in Model)
                {
                    <div class="mb-2 btn-group">
                        <a class="btn btn-dark" asp-controller="InGame" asp-action="LoadLevel" asp-route-levelNumber="@level.LevelNumber">Level: <b>@level.LevelNumber </b></a>
                    </div>
                }
                @if (Model.Count == 0)
                {
                    <div>
                        <a class="btn btn-outline-primary" asp-controller="InGame" asp-action="CreateFirstLevel">Start Challenge !</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

