
@{
    ViewData["Title"] = "LevelCompleted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>LevelCompleted</h1>
<div class="container mt-4">
         Level Completed
    ***Herzlichen Glückwunsch***
</div>

