@model Challenge
@{
    ViewData["Title"] = "LoadLevel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <p> Frage: @Model.ChallengeText </p>
    Antwort: <input class="mt-4" style="width:3em"/>

    <a class="btn btn-success"> Check </a>
</div>
<div>
    Test ergebnis
</div>

