
@{
    ViewData["Title"] = "NoChallengesInLevel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4 bg-light vh-100">
    <h3 class="mt-4 mb-4 text-center">Keine Aufgaben wurden in diesem Level gefunden.</h3>
    <div class="text-center mt-4">
        <img src="https://cdn.pixabay.com/photo/2017/03/09/12/31/error-2129569_1280.jpg" class="notFound-img" />
    </div>
    <div class="text-center mt-4">
            <a class="btn btn-primary" asp-controller="Home" asp-action="Startseite">Zurück</a>
    </div>
</div>

